(
	tileset_image_path: "alien.png",
	tile_size: 16,
	tiles: {
		"ground": (
			weight: 50,
			coords: (0, 0),
			allowed_neighbours: {
				All: [(label: "ground")],
			},
		),
		"rocks": (
			weight: 10,
			coords: (1, 0),
			allowed_neighbours: {
				All: [(label: "ground")]
			}
		),
		"cave_enterance": (
			weight: 25,
			coords: (2, 0),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Left: [(label: "ground"), (label: "snowy_ground")],
				Right: [(label: "cave")],
				Up: [(label: "cave_wall")],
				Down: [(label: "cave_wall")],
			}
		),
		"cave": (
			weight: 25,
			coords: (3, 0),
			allowed_neighbours: {
				All: [(label: "cave")],
			}
		),
		"cave_wall": (
			weight: 25,
			coords: (3, 1),
			allowed_neighbours: {
				All: [(label: "cave_wall"), (label: "ground"), (label: "cave")]
			}
		),
		"goop": (
			weight: 25,
			coords: (0, 1),
			allowed_neighbours: {
				All: [(label: "goop"), (label: "cave"), (label: "cave_wall")]
			}
		),
		"egg": (
			weight: 10,
			coords: (2, 1),
			allowed_neighbours: {
				All: [(label: "goop")]
			}
		),
		"snowy_ground": (
			weight: 75,
			coords: (0, 2),
			allowed_neighbours: {
				All: [(label: "ground"), (label: "snowy_ground"), (label: "cave_wall")]
			}
		),
		"water_corner": (
			weight: 1,
			coords: (1, 2),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Left: [(label: "ground"), (label: "snowy_ground"), (label: "cave_wall")],
				Up: [(label: "ground"), (label: "snowy_ground"), (label: "cave_wall")],
				Right: [(label: "water_corner", rotation: Plus90)],
				Down: [(label: "water_corner", rotation: Minus90)],
			}
		),
		"water_edge": (
			weight: 1,
			coords: (2, 2),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Up: [(label: "ground"), (label: "snowy_ground"), (label: "cave_wall")],
				Left: [(label: "water_corner")],
				Right: [(label: "water_corner", rotation: Plus90)],
				Down: [(label: "water")]
			}
		),
		"water": (
			weight: 1,
			coords: (3, 2),
			allowed_neighbours: {
				All: [(label: "water")]
			}
		),
		"water_inner_corner": (
			weight: 1,
			coords: (0, 3),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Down: [
					(label: "water"), (label: "water_edge", rotation: Opposite),
					(label: "water_inner_corner", rotation: Minus90), (label: "water_inner_corner", rotation: Opposite),
				],
				Right: [
					(label: "water"), (label: "water_edge", rotation: Plus90),
					(label: "water_inner_corner", rotation: Plus90), (label: "water_inner_corner", rotation: Opposite),
				],
				Up: [(label: "water_corner"), (label: "water_edge", rotation: Minus90)],
				Left: [(label: "water_corner"), (label: "water_edge")]
			}
		),
		/*"cryosleep_hub": (
			weight: 1,
			coords: (3, 3),
		),
		"cryosleep_pod": (
			weight: 1,
			coords: (1, 3),
			dimensions: (2, 1),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Left: [(label: "ground"), (label: "snowy_ground")],
				Up: [(label: "ground"), (label: "snowy_ground")],
				Down: [(label: "ground"), (label: "snowy_ground")],
				Right: [(label: "cryosleep_hub")]
			}
		)*/
	},
)
